<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="App.css">
    <title>Document</title>
</head>
<body>
    <form class='add_post'>
        <span>Title</span>
        <input required placeholder="Title" type="text"  />
        <span>Content</span>
        <textarea rows="6" cols="80" placeholder="content pls"></textarea>
        <span>Categories</span>
        <input type="text" placeholder="можешь заебатся с react-select как у меня">
        <input type="submit" value="Create" />
    </form>
</body>
</html>