<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="App.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <img src="#" alt="">
            <h1>title site</h1>
        </div>
        <ul>
            <li>
                 <a href="#">1</a> <!--сюда Lick вставишь -->
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
        </ul>
        <div id = 'user_infa'>
           <div id="user_infa_text">
            <span>username</span>
            <span>user data</span>
           </div>
            <img src="#" alt="">
        </div>
    </nav>
</body>
</html>