<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="App.css">

    <title>Document</title>
</head>
<body>
    <div class="Post">
        <h1>title</h1>
        <p>content Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda illum similique ab nisi, nesciunt aliquid magni blanditiis perferendis temporibus quibusdam maiores quasi quis in sequi nam quae inventore adipisci ipsum.</p>
        
        <h4>author</h4>
        <hr>
        <h2>comments</h2>
        <ul>
            <li>
                <h4>author cooment</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed facere enim, corporis rem explicabo officia earum a necessitatibus perspiciatis aliquam sit quaerat ipsum tempora ipsam ducimus eos cumque maxime.</p>
            </li>
            <li>
                <h4>author cooment</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed facere enim, corporis rem explicabo officia earum a necessitatibus perspiciatis aliquam sit quaerat ipsum tempora ipsam ducimus eos cumque maxime.</p>
            </li>
            <li>
                <h4>author cooment</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed facere enim, corporis rem explicabo officia earum a necessitatibus perspiciatis aliquam sit quaerat ipsum tempora ipsam ducimus eos cumque maxime.</p>
            </li>
            <li>
                <h4>author cooment</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed facere enim, corporis rem explicabo officia earum a necessitatibus perspiciatis aliquam sit quaerat ipsum tempora ipsam ducimus eos cumque maxime.</p>
            </li>
            <li>
                <h4>author cooment</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed facere enim, corporis rem explicabo officia earum a necessitatibus perspiciatis aliquam sit quaerat ipsum tempora ipsam ducimus eos cumque maxime.</p>
            </li>
        </ul>
        <div id="add_comment">
            <textarea placeholder="input here" name="" id="" cols="100" rows="10"></textarea>
        <br>
        <button>comments</button>
        </div>
    </div>
</body>
</html>