<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="App.css">
    <title>Document</title>
</head>
<body>
    <div id='user'>
        <img src="https://www.knowmuhammad.org/img/noavatarn.png" alt="">
        <h2>Admin^21</h2>
        <span>you data</span>
        <span>you data</span>
        <span>you data</span>
        <span>you data</span>
        <span>you data</span>
        <span>you data</span>
    </div>
    <div id="user_posts">
        <h2 id="h2_posts">Posts</h2>   
        <ul class="posts">
            <li  >
                <Link ><h2>post title</h2></Link>
                <hr/>
                <p>CONTENT Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, repellendus sint itaque, placeat voluptatem amet, aut dolorum cupiditate repellat animi officia cumque consequuntur error. Perferendis recusandae sapiente adipisci tempora illum?</p>
                </div>
            </li>
    </ul>
    </div>
</body>
</html>