@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
    font-weight: 200;
    background-color: white;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1{
    margin-left: 15%;
}

input, div, textarea{
    outline: none;
}

.user-info{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-info-text{
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.add_post{
    width: 65%;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}


.add_post *{
    background-color: rgb(250, 250, 250);
    transition: all 0.5s;
}


.add_post span {
    margin: 20px 0 2px 10px;
    font-size: 22px;
    font-weight: 500;
}

.add_post input{
    padding: 10px;
    font-size: 18px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
}

.add_post textarea{
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
}

.add_post textarea:focus, textarea:hover{
    border: 1px solid black;
}

.add_post input:focus, input:hover{
    border: 1px solid black;
}

.add_post input[type="submit"]{
    margin-top: 15px;
    background-color: rgba(57, 95, 223, 0.877);
    color: white;
    border: 1px solid rgba(57, 95, 223, 0.877);
}

.add_post input[type="submit"]:hover{
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.65);
}


#user{
    width: 65%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#user img{
    width: 20%;
    border-radius: 100px;
}

#h2_posts{
    margin-left: 27%;
}

.login-register {
    display: flex;
    flex-direction: column;
}
  .btn {
	background-color:#F7B32B;
	border-radius:5px;
	border:2px solid #2D1E2F;
	display:inline-block;
	cursor:pointer;
	color:#67142B;
	font-family:Arial;
	font-size:15px;
	padding:4px 10px;
    margin: 3px;
	text-decoration:none;
    transition: 0.25s;
}
.btn a {
    color:black;
    text-decoration:none; 
}
.btn:hover {
	background-color:#EEA41B;
}
.btn:active {
	position:relative;
	top:1px;
}
